<html id="wrapper">
    <head><style>#wrapper {
        background-color: black;
        min-width: 1900px;
        color: rgb(0, 193, 0);
        font-family: "MorePerfectDOSVGA";
        display: inline-block;
    }</style></head>
    <h1 style="text-align: center;">Amulet of Justice</h1>
    <div>
        <p>Angus Fife, the prince of Fife rides swiftly
            away from the flattened and charred remains to Loch Rannoch where he dives headfirst into the murky
            water.
        </p>
    </div>
        <p>Angus finds the amulet and swims back up to the surface.</p>
</html>