<html id="wrapper">
    <head>
        <style>#wrapper {
            background-color: black;
            min-width: 1900px;
            color: rgb(0, 193, 0);
            font-family: "MorePerfectDOSVGA";
            display: inline-block;
        }</style>
    </head>
    <h1>Angus McFife</h1>
        <div>
            <p>Angus Fife, the prince of Fife rides swiftly
                away from the flattened and charred remains of Dundee,
                with determination to destroy Zargothrax.
            </p>
        </div>
        <div>
            <p>Angus travels to the faraway mountains where he saw the cave
                hiding the hammer.
                His armor and weapons are covered in ice impairing his movement.
                Even so, he moves on determined to acquire the legendary hammer named
                "The Hammer of Glory". A hammer that has been passed down from heroes
                centuries ago.</p>
        </div>
</html>
