<html id="wrapper">
    <head><style>#wrapper {
        background-color: black;
        min-width: 1900px;
        color: rgb(0, 193, 0);
        font-family: "MorePerfectDOSVGA";
        display: inline-block;
    }</style></head>
    <h1>Hail to Crail</h1>
    <div>
        <p>Angus gets back on his dragon and flies to Crail a majestic town in the east
            known for having some of the most mighty warriors.
        </p>
    </div>
    <div>
        <p>Angus flies underground</p>
        
</html>