<html id="wrapper">
    <head><style>#wrapper {
        background-color: black;
        min-width: 1900px;
        color: rgb(0, 193, 0);
        font-family: "MorePerfectDOSVGA";
        display: inline-block;
    }</style></head>
    <h1>Magic Dragon</h1>
        <div>
            <p>Angus Fife, the prince of Fife rides swiftly
                away from the flattened and charred remains to a faraway forest
                name Strathclyde.
            </p>
            <p>Angus discovers a village of wizards.</p>
        </div>
        <div>The wizards look through a crystal ball and tell Angus
            that the dragon is a reward for destroying the demon in ancient chamber keeping
            it trapped.
        </div>
        <div>
            <p>The magic dragon is revealed and attempts to breathe fire at Angus</p>
        </div>
        <div>
            <p>Angus befriends the dragon and they fly out of the forest</p>

        </div>
</html>
