<html id="wrapper">
    <head><style>#wrapper {
        background-color: black;
        min-width: 1900px;
        color: rgb(0, 193, 0);
        font-family: "MorePerfectDOSVGA";
        display: inline-block;
    }</style></head>
    <h1>Epic Rage of Furious Thunder</h1>
    <div>
        <p>Argus, his dragon, and an army from Crail all mounted on eagles,
            approach the castle where Zargothrax resides.
        </p>
    </div>
    <div>
        <p>Argus sneaks into the castle through the tunnels
            thanks to a resident name Relathor </p>
    </div>
    <div>
        <p>Argus hears the sound of Crail warriors
            fighting the army of undead unicorns above him.</p>
    </div>
    <div>
        <p>Argus makes his way into the citadel to challenge Zargothrax</p>
    </div>
    <div>Argus slays Zargothrax</div>
</html>